$lightest-primary: #E3F2FD;
$light-primary: #90CAF9;
$primary: #42A5F5;
$dark-primary: #1E88E5;
$darkest-primary: #1565C0;

$white: #ffffff;

$lightest-secondary: #E0F2F1;
$light-secondary: #80CBC4;
$secondary: #26A69A;
$dark-secondary: #00897B;
$darkest-secondary: #00695C;
