$lightest-primary: #EDFFFD;
$light-primary: #7B7CFF;
$primary: #304FFF;
$dark-primary: #0026CA;
$darkest-primary: #01579B;

$white: #ffffff;

$lightest-secondary: #FFCCBC;
$light-secondary: #80E8DD;
$secondary: #4BB5AB;
$dark-secondary: #00857C;
$darkest-secondary: #BF360C;
