$lightest-primary: #B3E5FC;
$light-primary: #4FC3F7;
$primary: #03A9F4;
$dark-primary: #0288D1;
$darkest-primary: #01579B;

$white: #ffffff;

$lightest-secondary: #FFCCBC;
$light-secondary: #FF8A65;
$secondary: #FF5722;
$dark-secondary: #E64A19;
$darkest-secondary: #BF360C;
