.blurb-div {
  height: 100%;
}

.new-blurb-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  height: 70%;

  h1 {
    color: $darkest-primary;
  }

  .new-blurb-input-area {
    width: 60%;
  }

  .errors {
    color: #757575;
    font-size: 16px;
    text-align: center;
  }
}

.f-input-2 {
    padding: 10px;
    padding-left: 30px;
    position: relative;
    width: 100%;
    min-height: 300px;
    border: none;
    outline: none;
    font-size: 20px;
    resize: none;
    // color: transparent;
}

.f-input-2:focus {
  outline: none;
}

.f-input-3 {
    padding: 10px;
    padding-left: 30px;
    position: relative;
    width: 60%;
    border: none;
    outline: none;
    font-size: 30px;
}

.form-submit-2 {
  	background-color: $secondary;
  	border-color: $dark-secondary;
  	color: $white;
    width: 120px;
    height: 40px;
    padding: 10px;
    margin: 5px;
    margin-top: 30px;
  	border-radius: 2px;
  	transition: background-color 0.3s;
  	font-family: $sans-serif;
  	font-size: 14px;
  	text-align: center;
    box-sizing: border-box;
}

.form-submit-2:hover {
	background-color: $dark-secondary;
  border-color: $darkest-secondary;
  cursor: pointer;
}

.load-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  height: 80%;
}
