.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: hidden;
  margin-top: 30px;
}

.dashboard-tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 1050px;
}

.dashboard-tab {
  padding: 10px 20px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  transition: 0.2s ease-in-out;
  width: 350px;
  text-align: center;
  font-size: 24px;
  box-sizing: border-box;
  // background-color: rgb(245, 245, 245);
  // border: 1px solid rgb(130, 130, 130);
}

.selected-tab {
  border-bottom: none;
  // font-weight: bold;
  // text-decoration: underline;
}

.selected-tab:hover {
  cursor: default;
}

.unselected-tab {
  color: rgb(180, 180, 180);
  font-weight: normal;
}

.unselected-tab:hover {
  cursor: pointer;
  color: rgb(100, 100, 100);
}

.line {
  stroke-width: 1px;
  stroke-linejoin: round;
  transition: 0.5s ease-in-out;
}

.line:hover {
  cursor: pointer;
}

.legend {
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
}

.legend > .legend:hover {
  cursor: pointer;
}

.legend > .legend > div:nth-of-type(2) {
  height: 18px;
  display: flex;
  align-items: center;
}

.selected-legend {
  opacity: 1;
  font-weight: bold;
}

.unselected-legend {
  opacity: 0.3;
}

.unselected-legend:hover {
  opacity: 0.7;
}

.chart-inner {
  margin-bottom: 20px;
}

.chart-inner > div {
  display: flex;
  position: relative;
  justify-content: flex-start;
  width: 1000px;
  background-color: white;
}

.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1150px;
  padding: 20px 0;
}

.dashboard-page {
  position: relative;
  width: 1150px;
  height: 500px;
  display: flex;
  justify-content: center;
  // background-color: rgb(245, 245, 245);
  // border: 1px solid rgb(130, 130, 130);
  border-top: none;
  box-sizing: border-box;
  animation-name: load-page;
  animation-duration: 500ms;
  overflow-y: hidden;
  font-size: 18px;

  p {
    position: absolute;
    top: 40%;
  }

  h2 {
    text-align: center;
    position: absolute;
    font-weight: normal;
    font-size: 14px;
    margin-top: 40px;
  }
}

@keyframes load-page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.chart-nav {
  transition: 0.2s ease-in-out;
  color: rgb(150, 150, 150);
  margin: 0 20px;
}

.chart-nav:hover {
  cursor: pointer;
  color: rgb(40, 40, 40);
}

.chart-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-top: 20px;
}

.axis.x {
  transform: translateY(10px);
}

.axis.y {
  transform: translateX(-10px);
}

.legend {
  transform: translateX(20px);
}

.circles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  // background-color: rgb(245, 245, 245);
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 0 10px;
  transition: 200ms ease-in-out;
}

.selected-circle {
  background-color: royalblue;
}

.unselected-circle {
  background-color: rgb(180, 180, 180);
}

.documents-page {
  width: 100%;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-top: none;
  box-sizing: border-box;
  animation-name: load-page;
  animation-duration: 500ms;
  // background-color: rgb(245, 245, 245);
  // border: 1px solid rgb(130, 130, 130);
  // overflow-y: auto;
}

.documents-title {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  // background-color: honeydew;
}

.documents-index {
  width: 80%;
  height: 450px;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  // background-color: mistyrose;
  // border: 1px solid rgb(150, 150, 150);
}

.documents-index-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .documents-placeholder {
    margin-top: 40px;
    font-size: 14px;
    width: 500px;
    text-align: center;
    line-height: 150%;
  }
}

.document-link {
  width: 700px;
  margin: 0;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  // background-color: honeydew;
}

.documents-index-item {
  border-bottom: 1px solid rgb(180, 180, 180);
}

.documents-index-item:last-of-type {
  border-bottom: none;
  // background-color: honeydew;
}

.document-title {
  padding-left: 20px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
}

.document-body {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // background-color: cornflowerblue;
}

.document-date {
  padding-right: 20px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgb(150, 150, 150);
}

.empty-chart {
  width: 750px;
  height: 400px;
  // background-color: mistyrose;
}
