.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: $light-primary;
  padding: 20px;

  img {
    width: auto;

  }


  .header-group {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .header-right-icons {

  }

  .header-center {
    background-color: $secondary;
  	border-color: $dark-secondary;
  	color: $lightest-primary;
    padding: 10px;
    border-radius: 3px;
  }

}
