.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}

.results-tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 1050px;
}

.results-tab {
  padding: 10px 20px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  transition: 0.3s ease-in-out;
  width: 525px;
  text-align: center;
  font-size: 24px;
  box-sizing: border-box;
  // background-color: rgb(245, 245, 245);
  // border: 1px solid rgb(130, 130, 130);
}

.selected-results-tab {
  border-bottom: none;
}

.selected-results-tab:hover {
  cursor: default;
}

.unselected-results-tab {
  color: rgb(180, 180, 180);
  font-weight: normal;
}

.unselected-results-tab:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

@keyframes load-bar {
  0% {
    width: 0;
    // opacity: 0;
  }
  100% {
    // width: 100%;
  }
}

.results-emotion .bar {
  animation-name: load-bar;
  animation-duration: 2s;
}

.results-emotion .bar:nth-of-type(1) {
  fill: firebrick;
}

.results-emotion .bar:nth-of-type(2) {
  fill: darkgreen;
}

.results-emotion .bar:nth-of-type(3) {
  fill: darkviolet;
}

.results-emotion .bar:nth-of-type(4) {
  fill: gold;
}

.results-emotion .bar:nth-of-type(5) {
  fill: steelblue;
}

.results-language .bar {
  animation-name: load-bar;
  animation-duration: 2s;
}

.results-language .bar:nth-of-type(1) {
  fill: darkblue;
}

.results-language .bar:nth-of-type(2) {
  fill: crimson;
}

.results-language .bar:nth-of-type(3) {
  fill: darkgoldenrod;
}

.results-social .bar {
  animation-name: load-bar;
  animation-duration: 2s;
}

.results-social .bar:nth-of-type(1) {
  fill: teal;
}

.results-social .bar:nth-of-type(2) {
  fill: maroon;
}

.results-social .bar:nth-of-type(3) {
  fill: indigo;
}

.results-social .bar:nth-of-type(4) {
  fill: rgb(0, 128, 0);
}

.results-social .bar:nth-of-type(5) {
  fill: chocolate;
}

.chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.chart-wrapper:last-of-type {
  margin-right: 30px;
}

.results-title-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.results-title {
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
  // background-color: honeydew;
}

.bar {
  transition: 0.3s ease-in-out;
}

.bar:hover {
  cursor: pointer;
  opacity: 0.7;
}

.hover-box {
  width: 250px;
  background-color: white;
  border: 1px solid black;
  position: absolute;

  animation-name: fade-in-hover;
  animation-duration: 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  z-index: 999;
}

.hover-box > div {
  width: 100%;
}

.hover-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.hover-name {
  width: 50%;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.hover-value-group {
  width: 35%;
  display: flex;
  justify-content: flex-end;
}

@keyframes fade-in-hover {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.hidden-hover-box {
  animation-name: fade-out-hover;
  animation-duration: 0.3s;
}

@keyframes fade-out-hover {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.results-page {
  width: 1050px;
  height: 560px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-top: none;
  box-sizing: border-box;
  animation-name: load-page;
  animation-duration: 500ms;
  overflow-y: auto;
  padding-top: 30px;
  // background-color: rgb(245, 245, 245);
  // border: 1px solid rgb(130, 130, 130);
}

.text-body {
  overflow-y: auto;
  height: 80%;
  width: 80%;
  padding-right: 20px;
}

.text-body > span {
  transition: 0.3s ease-in-out;
}

.sentence-results {
  // background-color: mistyrose;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}

.sentence-categories {
  width: 20%;
  height: 80%;
}


.selected-category > span {
  transition: 0.3s ease-in-out;
}

.selected-category > span:hover {
  cursor: pointer;
  opacity: 0.7;
}

.selected-category > ul {
  margin-left: 20px;
  margin-right: 40px;
  animation-name: fade-in-hover;
  animation-duration: 0.3s;
}

.selected-category > ul > li {
  transition: 0.3s ease-in-out;
}

.selected-category > ul > li:hover {
  cursor: pointer;
  opacity: 0.7;
}

.unselected-category {
  color: rgb(180, 180, 180);
  transition: 0.3s ease-in-out;
}

.unselected-category > span:hover {
  cursor: pointer;
  filter: brightness(0.5);
}

.unselected-category > ul {
  display: none;
}


.sentence-hover {
  position: absolute;
  z-index: 999;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  animation-name: fade-in-hover;
  animation-duration: 0.3s;
  // width: 300px;
}

.hover-tone-ul {
}

.hover-tone-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hover-tone-name {
  font-weight: bold;
  margin-right: 50px;
}

.hover-tone-score {

}

.sentence {
  transition: 0.3s ease-in-out;
}

.sentence:hover {
  cursor: pointer;
  filter: grayscale(0.5);
}

.highlight {
  transition: 0.3s ease-in-out;
  background-color: rgba(150, 150, 150, 0.3);
}

.highlight:hover {
  cursor: pointer;
}
