.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;


  .form-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;



    input {
      padding: 0;
      position: relative;
      width: 100%;
      border: none;
      outline: none;
      text-decoration-style: solid;
      text-decoration: underline;
      text-decoration-color: $darkest-secondary;
      height: 100px;

    }

  }

  .form-submit {
    display: flex;
    flex-direction: row;
    align-self: center;

    input {
      background-color: $primary;
    	border-color: $dark-primary;
    	color: $white;
    	font-weight: bold;
    	padding: 7px 9px;
      margin: 5px;
    	border-radius: 20%;
    	transition: background-color 0.3s;
    	font-family: $sans-serif;
    	font-size: 20px;
    	text-align: center;

    }

    input:hover {
    	background-color: $white;
      color: $darkest-primary;
    }

  }



}
.f-input {
  padding: 0;
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: solid $light-primary;
  font-size: 20px;
}
.f-input:focus {
  border-bottom: solid $dark-primary;

}

h1 {
  color: $primary;
}

.close {
  border-radius: 100%;
  background: none;
  font-family: Symbola;
  font-size: 12px;
  color: $darkest-primary;
}

.soft-button {
  background: none;
  color: $primary;
}

.soft-button:hover {
  background: $darkest-primary;
  color: $white;
}
.soft-title {
  background: none;
  color: $white;
  font-weight: bolder;
}

.soft-title:hover {
  background: none;
  cursor: auto;
}
