// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.splash-page-container {
  // position: relative;
  // height: calc(100% - 200px);
  position: fixed;
  height: calc(100% - 400px);

  h1 {
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 30%;
    left: 10%;
    color: white;
    font-weight: normal;
  }

  .image-container {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}
