// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.splash-page-container {
  position: fixed;
  width: 100%;

  h1 {
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 20%;
    left: 10%;
    color: white;
    font-weight: normal;
    z-index: 10;
  }

  .image-container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/assets/splash.jpg");
    overflow: hidden;
  }
}
